<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Using Bootstrap for CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>Movies</title>
        <meta charset="utf-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=yes">
    </head>

    <body>
        <div class="center" align="center">
        <a th:href="${poster_path}" target="_blank">
            <img th:src="@{${poster_path}}" th:alt="${movieTitle} + ' poster'"/>
        </a>
        <h1>
            <p th:text="'Title: ' + ${movieTitle}" />
        </h1>
        <p th:text="'Overview: ' + ${movieOverview}" />
        <p th:text="'Genres: ' + ${movieGenres}" /> <!-- FIX: Printing Genres -->
        <p th:text="'Runtime: ' + ${movieRuntime} + ' minutes'" />
        <p th:text="'Release Date: ' + ${movieReleaseDate}" />
        <p th:text="'Vote Average: ' + ${movieVoteAverage} + '/10.0'" />
        <p th:text="'Vote Count: ' + ${movieVoteCount} + ' votes'" />
        <!-- <p th:href="${imdb_id}" th:text="'IMDB Link: ' + ${imdb_id}" /> -->
        <p>
            IMDB Link: <a th:href="${imdb_id}" target="_blank"><p th:text="${imdb_id}" /></a>
        </p>
        <!-- <p th:text="'Movie Recommendations: ' + ${movieRecommendations}" /> -->
        <!-- <p th:text="'Movie Videos: ' + ${movieVideos}" /> -->
    </body>
</html>