<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
class="gray-background">
    <head>
        <!-- Using Bootstrap for CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="icon" href="public/playground_assets/movie-icon.png">
        <title>Reel Movies</title>
        <meta charset="utf-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=yes">
    </head>

    <body class="center">
        <link rel="stylesheet" href="movies.css">
        <div class="tbg">
        <div class="theader">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <i class="fa fa-comments" aria-hidden="true"></i>
            <div class="tlogo">
                <a th:href="@{/}">
                    <img src="public\playground_assets\SunBreakers_Logo.png"
                    alt="Tinder Logo"
                    title="SunBreakers Logo"
                    height="40" />
                </a>
            </div>
        </div>
        <div class="tbgwrap">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img th:src="@{${poster_path}}" th:alt="${movieTitle} + ' poster'"/>
                  </div>
                  <div class="flip-card-back">
                    <h1><p th:text="'Title: ' + ${movieTitle}" /></h1>
                    <p th:text="'Overview: ' + ${movieOverview}" />
                    <p th:text="'Genres: ' + ${movieGenres}" /> <!-- FIX: Printing Genres -->
                    <p th:text="'Runtime: ' + ${movieRuntime}" />
                    <p th:text="'Release Date: ' + ${movieReleaseDate}" />
                    <p th:text="'Vote Average: ' + ${movieVoteAverage} + '/10.0'" />
                    <p th:text="'Vote Count: ' + ${movieVoteCount} + ' votes'" />
                    <p>
                        IMDB Link: <a th:href="${imdb_id}" target="_blank"><p th:text="${imdb_id}" /></a>
                    </p>
                  </div>
                </div>
            </div>
            <div class="tcontrols">
                <a href="/movies?name=disliked">
                    <img src="public\playground_assets\red-x.png" class="button"
                    alt="Dislike Button">
                </a>
                <a href="/movies?name=liked">
                    <img src="public\playground_assets\green-heart.png" class="button"
                    alt="Like Button">
                </a>
                <!-- <input type="button"  onclick="location.href='/movies?name=disliked'" value="Dislike" >
                <input type="button"  onclick="location.href='/movies?name=liked'" value="Like" > -->
            </div>
        </div>
        <!-- <div class="credit"><a href="http://themakery.jcink.net">Created by Miami</a></div>
        </div> -->
    </body>
</html>